@font-face {
  font-family: "iconfont";
  src: url("../../../node_modules/@hackernoon/pixel-icon-library/fonts/iconfont.woff2") format("woff2");
  font-display: optional;
}

.hn {
  line-height: 1;
}

.hn::before {
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: 400 !important;
  vertical-align: top;
}

.hn-arrow-right::before { content: "\f168"; }
.hn-book::before { content: "\f175"; }
.hn-briefcase::before { content: "\f17d"; }
.hn-chart-line::before { content: "\f18b"; }
.hn-check-box::before { content: "\f18d"; }
.hn-face-grin::before { content: "\f1bd"; }
.hn-folder-open::before { content: "\f1c8"; }
.hn-grid::before { content: "\f1cf"; }
.hn-handshake::before { content: "\f1d3"; }
.hn-newspaper::before { content: "\f1f0"; }
.hn-refresh::before { content: "\f210"; }
.hn-robot::before { content: "\f213"; }
.hn-sitemap::before { content: "\f21f"; }
.hn-user::before { content: "\f242"; }
.hn-users::before { content: "\f244"; }
.hn-video-camera::before { content: "\f245"; }
